experimentation*/
live-translator-installer/settings.json
reminder_*
.codex

live-translator-installer/precacher/precache.json
live-translator-installer/precacher/precache-rejected.json

docs/live-translator-perf*